[Unit]
Description=Launch InvenioRDM Web Interface

[Service]
Type=simple
User=ubuntu
StandardOutput=kmsg
StandardError=kmsg
WorkingDirectory=/Sites/caltechdata
EnvironmentFile=/Sites/rdm.conf
ExecStart=bash run_rmd.sh

[Install]
WantedBy=multi-user.target
