[Unit]
Description=Launch InvenioRDM Web Interface

[Service]
Type=simple
User=ubuntu
StandardOutput=kmsg
StandardError=kmsg
WorkingDirectory=/Sites/caltechdata
EnvironmentFile=/Sites/caltechdata/.env
ExecStart=/Sites/caltechdata/uv-env-39/bin/pipenv run /Sites/caltechdata/uv-env-39/bin/uwsgi --logger syslog:inveniordm_ui uwsgi_ui.ini

[Install]
WantedBy=multi-user.target
