[Unit]
Description=Launch InvenioRDM Web Interface

[Service]
Type=simple
User=tmorrell
StandardOutput=kmsg
StandardError=kmsg
WorkingDirectory=/Sites/caltechdata
EnvironmentFile=/Sites/caltechdata/.env
ExecStart=/snap/bin/uv run uwsgi --logger syslog:inveniordm_ui uwsgi_ui.ini

[Install]
WantedBy=multi-user.target
