[Unit]
Description=Launch InvenioRDM Web Interface

[Service]
Type=simple
User=ubuntu
StandardOutput=kmsg
StandardError=kmsg
WorkingDirectory=/Sites/caltechdata
EnvironmentFile=/Sites/caltechdata/.env
ExecStart=/usr/local/bin/pipenv run uwsgi --logger syslog:inveniordm_rest uwsgi_rest.ini

[Install]
WantedBy=multi-user.target
