[Unit]
Description=Launch InvenioRDM Web Interface

[Service]
Type=simple
User=inveniordm
StandardOutput=kmsg
StandardError=kmsg
WorkingDirectory=/Sites/caltechdata
EnvironmentFile=/Sites/caltechdata/.env
ExecStart=/snap/bin/uv run uwsgi --logger syslog:inveniordm_rest uwsgi_rest.ini

[Install]
WantedBy=multi-user.target
